<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.example.test.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.example.test.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.example.test.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reset</servlet-name>
		<servlet-class>com.example.test.Reset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reset</servlet-name>
		<url-pattern>/Reset</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>com.example.test.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderHandler</servlet-name>
		<servlet-class>com.example.test.OrderHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderHandler</servlet-name>
		<url-pattern>/OrderHandler</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	
  	<error-page>
	    <error-code>404</error-code>
	    <location>/TestServlet</location>
  	</error-page>   
  	<error-page>
	  	<exception-type>javax.servlet.ServletException</exception-type>
	  	<location>/TestServlet</location>
  	</error-page>
  
  	<error-page>
	    <error-code>403</error-code>
	    <location>/TestServlet</location>
  	</error-page>   
  	<error-page>
	  	<exception-type>javax.io.IOException</exception-type>
	  	<location>/TestServlet</location>
  	</error-page>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.example.test.CustomerAPI,com.example.test.OrderAPI,com.example.test.TokenAPI</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
   <security-constraint>
        <web-resource-collection>
            <web-resource-name>App-Resources</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
   </security-constraint>
   
</web-app>